<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<style type="text/css">
    body, button {
        font-family: "source-han-sans-traditional";
        font-weight: normal;
        font-size: 14px;
        cursor: default;
    }
    footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
    }
</style>